h1 {
  text-align: center;
  margin-top: 25px;
}
#search-form {
  width: auto;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
#search-input {
  width: 180px;
  height: 30px;
  border: 2px solid #0f1814;
  border-radius: 15px;
  padding: 2px 3px 2px 3px;
  margin-right: 5vw;
}
#search-button {
  width: 55px;
  height: 35px;
  padding: 2px 3px 2px 3px;
  border: 1px solid #0f1814;
  border-radius: 15px;
}
#myTable {
  display: block;
  background: #b8e19c;
  padding: 10px;
  margin: 0 auto;
  max-width: 1600px;
  border-radius: 10px;
}
.column {
  display: grid;
  grid-template-columns: 5% 30% 40% 10% 15%;
}
.cell {
  border: 1px solid #011404;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  padding: 3px;
  margin: 4px;
}

.header {
  font-weight: 900;
  text-align: center;
  align-items: center;
}
.cell:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}
@media only screen and (min-width: 421px) and (max-width: 650px) {
  .header {
    font-weight: 600;
    font-size: 0.9rem;
  }
  .cell {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 420px) {
  .header {
    display: none;
  }
  .column {
    grid-template-columns: 1fr;
  }
  #search-input {
    width: 70%;
    margin-bottom: 3vh;
  }
  #search-form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .cell::before {
    content: attr(data-label);
    font-weight: 900;
    margin-right: 10px;
  }
}
.match {
  background-color: #ec7070;
  color: white;
}
